##############################
## IntelliJ
##############################
.idea
*.iws
*.iml
*.ipr
/out/

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar